/* start of stack overflow
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}
 end of stack overflow */

/* For Table borders */
table {
    border-collapse: collapse;
    width: 100%;
}

.border {
    background-color: #333;
    border: 1px solid #DDD;
}
/* Custom */
.bigOof {
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.smallOof{
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}
.last{
    width: 200px
}

/* Best m** website css*/
body{
    background-color: #333;
    line-height:1.6;
    font-size:18px;
    color: #DDD;
    padding:0 10px
}
input{
    color: #333;
    background-color: #DDD;
}

h1,h2,h3{
    line-height:1.2
}