/* start of stack overflow
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}
 end of stack overflow */

/* For Table borders */
.normalTable {
    border-collapse: collapse;
    width: 100%;
}
td {
     text-align:center;
}

.border {
    background-color: #333;
    border: 1px solid #DDD;
}
/* Custom */
.bigOof {
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.smallOof{
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}
.last{
    width: 200px
}

/* Best m** website css*/
body{
    background-color: #333;
    line-height:1.6;
    font-size:18px;
    color: #DDD;
    padding:0 10px
}
input{
    color: #333;
    background-color: #DDD;
}

h1,h2,h3{
    line-height:1.2
}
/* The shapes */
.skirtshape {
    position: relative;
    border-bottom: 30px solid #E22;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width:50px;
    z-index: 1;
}
.gapshape {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #ecbcb4 ;
    z-index: 1;
}
.sockshape {
    position: relative;
    height: 80px;
    width: 20px;
    background-color: #EEE ;
    z-index: 1;
}
.legshape {
    position: relative;
    height: 35px;
    width: 20px;
    opacity: 0.5;
    background-color: #B47B74;
    z-index: 5;
}