/* start of stack overflow */
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}
/* end of stack overflow */

/* For Table borders */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

.bigOof {
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.last{
    width: 200px
}